<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container" style="display: flex;
            justify-content: space-around;">
    <a class="navbar-brand" href="#">My blog <span class="navbar_brand_text">G'oyalaringiz bilan
        bo'lishing</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item lilar">
          <a class="nav-link alar " aria-current="page" href="#">Loyiha haqida</a>
        </li>
        <li class="nav-item lilar">
          <a class="nav-link alar " href="/admin/category/read">Bo'limlar</a>
        </li>
        <li class="nav-item lilar">
          <a class="nav-link alar " href="/auth/login">Kirish</a>
        </li>
        <li class="nav-item lilar">
          <a class="nav-link alar " href="/auth/register">Ro’yhatdan o’tish</a>
        </li>
      </ul>
    </div>
  </div>
</nav>