<div class="tanlangan">
    <h5 class="maqolalarTitle margin">Tanlangan maqolalar</h5>
</div>
<div class="yangi">
    <h5 class="maqolalarTitle margin">Yangi maqolalar</h5>
    <ul>
        {{#each maqola}}
        <li><a href="/maqolaView/{{id}}" class="maqola_link">{{maqolaTitle}}</a></li>
        {{/each}}
    </ul>
</div>